# Assignment - 20

### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system,'
with open('test.txt', 'w') as file:
    file.write(test1)

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [4]:
with open('test.txt', 'r') as file:
    test2 = file.read()

print(test1 == test2)  # True if they are the same, False otherwise

True

### 3. Create a CSV file called books.csv by using these lines:
#### title,author,year
#### The Weirdstone of Brisingamen,Alan Garner,1960
#### Perdido Street Station,China Miéville,2000
#### Thud!,Terry Pratchett,2005
#### The Spellman Files,Lisa Lutz,2007
#### Small Gods,Terry Pratchett,1992

In [6]:
import csv

# define the data as a list of lists
data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

# write the data to the CSV file
with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [7]:
import sqlite3

# create a connection to the database
conn = sqlite3.connect('books.db')

# create a cursor object
cursor = conn.cursor()

# create the table with the specified fields
cursor.execute('''
    CREATE TABLE books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

# commit the changes to the database and close the connection
conn.commit()
conn.close()

### 5. Read books.csv and insert its data into the book table.

In [8]:
import csv
import sqlite3

# create a connection to the database
conn = sqlite3.connect('books.db')

# create a cursor object
cursor = conn.cursor()

# read the data from books.csv and insert it into the books table
with open('books.csv') as file:
    reader = csv.reader(file)
    # skip the header row
    next(reader)
    # insert the data rows into the table
    for row in reader:
        cursor.execute('INSERT INTO books (title, author, year) VALUES (?, ?, ?)', row)

# commit the changes to the database and close the connection
conn.commit()
conn.close()

### 6. Select and print the title column from the book table in alphabetical order.

In [9]:
import sqlite3

# create a connection to the database
conn = sqlite3.connect('books.db')

# create a cursor object
cursor = conn.cursor()

# select the title column from the books table and print the results
cursor.execute('SELECT title FROM books ORDER BY title ASC')
for row in cursor.fetchall():
    print(row[0])

# close the connection
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

### 7. From the book table, select and print all columns in the order of publication.

In [10]:
import sqlite3

# create a connection to the database
conn = sqlite3.connect('books.db')

# create a cursor object
cursor = conn.cursor()

# select all columns from the books table and print the results in the order of publication
cursor.execute('SELECT * FROM books ORDER BY year ASC')
for row in cursor.fetchall():
    print(row)

# close the connection
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [13]:
from sqlalchemy import create_engine, select, Table, Column, String, Integer, MetaData, asc

# create an engine to connect to the database
engine = create_engine('sqlite:///books.db')

# create a metadata object that represents the schema of the database
metadata = MetaData()

# create a Table object that represents the books table
books = Table('books', metadata,
    Column('title', String),
    Column('author', String),
    Column('year', Integer)
)

# create a select statement that selects the title column from the books table in alphabetical order
stmt = select([books.columns.title]).order_by(asc(books.columns.title))

# connect to the database using the engine and perform the select statement
with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result:
        print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

### 10. Increment the count field of test and print it.

In [14]:
pip install redis

Collecting redis
  Downloading redis-4.5.4-py3-none-any.whl (238 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 238.9/238.9 kB 22.3 MB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.5.4
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import redis

# connect to the Redis server
r = redis.Redis(host='localhost', port=6379, db=0)

# create a Redis hash called test with the fields count (1) and name ('Fester Bestertester')
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

In [ ]:
# get all the fields and their values for the test hash and print them
fields = r.hgetall('test')
for field in fields:
    print(f'{field.decode()}: {fields[field].decode()}')