# Programming Assignment - 23

### 1. Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [2]:
def is_symmetrical(num):
    return str(num) == str(num)[::-1]

In [3]:
print(is_symmetrical(7227))  # Output: True
print(is_symmetrical(12567))  # Output: False
print(is_symmetrical(44444444))  # Output: True
print(is_symmetrical(9939))  # Output: False
print(is_symmetrical(1112111))  # Output: True

True
False
True
False
True

### 2. Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [4]:
def multiply_nums(nums):
    nums_list = [int(x) for x in nums.split(", ")]
    product = 1
    for num in nums_list:
        product *= num
    return product

In [5]:
multiply_nums("2, 3")

6

In [7]:
multiply_nums("1, 2, 3, 4")

24

In [8]:
multiply_nums("54, 75, 453, 0")

0

In [9]:
multiply_nums("10, -2")

-20

### 3. Create a function that squares every digit of a number.
Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [10]:
def square_digits(num):
    squared_digits = ''
    for digit in str(num):
        squared_digits += str(int(digit)**2)
    return int(squared_digits)

In [11]:
print(square_digits(9119))  # Output: 811181
print(square_digits(2483))  # Output: 416649
print(square_digits(3212))  # Output: 9414

811181
416649
9414

### 4. Create a function that sorts a list and removes all duplicate items from it.
Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [12]:
def setify(lst):
    return sorted(list(set(lst)))

In [13]:
print(setify([1, 3, 3, 5, 5]))    # Output: [1, 3, 5]
print(setify([4, 4, 4, 4]))       # Output: [4]
print(setify([5, 7, 8, 9, 10, 15]))# Output: [5, 7, 8, 9, 10, 15]
print(setify([3, 3, 3, 2, 1]))    # Output: [1, 2, 3]

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

### 5. Create a function that returns the mean of all digits.
Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

In [14]:
def mean(num):
    num_str = str(num)
    num_sum = 0
    for digit in num_str:
        num_sum += int(digit)
    return num_sum // len(num_str)

In [15]:
print(mean(42))   # Output: 3
print(mean(12345))   # Output: 3
print(mean(666))   # Output: 6

3
3
6